@font-face {
  font-family: 'icomoon';
  src:  url('./assets/icomoon/icomoon.eot?ftu84i');
  src:  url('./assets/icomoon/icomoon.eot?ftu84i#iefix') format('embedded-opentype'),
    url('./assets/icomoon/icomoon.ttf?ftu84i') format('truetype'),
    url('./assets/icomoon/icomoon.woff?ftu84i') format('woff'),
    url('./assets/icomoon/icomoon.svg?ftu84i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}